.dropdown-menu {
  display: block;
}

.dropdown-menu button {
  border: none;
  min-height: 40px;
  background-color: transparent;
}

.dropdown > button {
  border: none;
  background-color: transparent;
}