.fixed {
  position: sticky;
  top: 20px;
}

.btn-custom {
  background-color: white;
  color: black;
  border: 1px black solid;
}
.btn-custom:hover {
  background-color: white;
  border: 1px black solid;
}

.align-right {
  text-align: right;
}

.txt-sm {
  font-size: small;
}

.txt-ww {
  word-wrap: break-word;
}

.container {
  max-width: 2145px;
}

.col > img {
  max-width: 100%;
  max-height: 100%;
}