@media (prefers-color-scheme: light) {
  body {
    background: #FFF;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #000;
  }
}

.container {
  max-width: 2145px;
  padding-left: 5px;
  padding-right: 5px;
}

.white-bkg {
  background-color: #FFF;
}

.col > img {
  max-width: 100%;
  max-height: 200px;
}

#gallery img {
  max-width: 100%;
  max-height: 200px;
}