body.lightbox-visible {
  overflow: hidden;
}

.mLightbox {
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
  /* background-color: rgba(0, 0, 0, 0.8); */
  width: 100vw;
  height: 100vh;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: space-around; */
}

.mLightbox img {
  max-width: 95%;
  max-height: 95%;
}

.embla {
  /* overflow: hidden; */
}
.swiper {
  /* flex: 1 0 100%; */
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-wrapper {
  display: flex;
}
.swiper-slide {
  flex: 0 0 100%;
  min-width: 0;;
}
.swiper-slide > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* .swiper-slide > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
} */

/* .embla__prev {
  position: fixed;
  top: 50vh;
  left: 5vw;
}

.embla__next {
  position: fixed;
  top: 50vh;
  right: 5vw;
} */

/* @keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
} */

/* Apply the animation to the image */
/* .enlarge-image {
  animation: enlarge 1s ease-in-out forwards;
} */